<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "O'Brien Photography", '#', class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Log In", '#' %></li>
      </ul>
    </div>
  </nav>
</header>
